<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.OrderMasterMapper" >
  <resultMap id="BaseResultMap" type="cn.cumtmaker.maker.model.OrderMaster" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="updatePayStatus">
    update order_master
    <set>
      pay_status=#{payStatus}
    </set>
    where
    user_id=#{userId} and
    order_id=#{orderId}
  </update>

  <insert id="insertOrder" parameterType="cn.cumtmaker.maker.model.OrderMaster">
        insert into order_master (order_id,user_id,pay_status,order_amount,order_time)
        values (#{orderId}, #{userId},#{payStatus},#{orderAmount},#{orderTime})
  </insert>


  <select id="getOrderId" resultType="int">
    select order_id
    from order_master
    where user_id=#{userId} and
    order_time=#{orderTime}
  </select>

  <select id="getByUserId" parameterType="cn.cumtmaker.maker.model.OrderMaster" resultMap="BaseResultMap">
    select * from order_master
    where user_id=#{userId}
</select>

</mapper>