<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.OrderDetailMapper">
    <resultMap id="ModelResultMap" type="cn.cumtmaker.maker.model.OrderDetail">
        <id column="detail_id" property="detailId" jdbcType="INTEGER"></id>
        <result column="order_id" property="orderId" jdbcType="INTEGER"></result>
        <result column="product_id" property="productId" jdbcType="INTEGER"></result>
        <result column="product_price" property="productPrice" jdbcType="DECIMAL"></result>
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL"></result>
        <result column="product_name" property="productName" jdbcType="VARCHAR"></result>
        <result column="product_quantity" property="productQuantity" jdbcType="INTEGER"></result>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"></result>
    </resultMap>
    <resultMap id="ProductResultMap" type="cn.cumtmaker.maker.VO.OrderDetailProductVO">
        <result column="order_id" property="orderId" jdbcType="INTEGER"></result>
        <result column="product_id" property="productId" jdbcType="INTEGER"></result>
        <result column="product_quantity" property="productQuantity" jdbcType="INTEGER"></result>
    </resultMap>
    <insert id="insertOrder" parameterType="cn.cumtmaker.maker.model.OrderDetail">
        insert into order_detail (detail_id,order_id,product_id,product_price,product_quantity,order_status,order_amount,product_name)
        values (#{detailId}, #{orderId}, #{productId},#{productPrice}, #{productQuantity},#{orderStatus},#{orderAmount},#{productName})
    </insert>

    <select id="getOrder" resultMap="ModelResultMap">
    select *
    from order_detail
    where detail_id=#{detailId}
   </select>
    <delete id="deleteByProductId">
        delete from order_detail
        where product_id=#{productId}
    </delete>
    <select id="getProduct"  resultMap="ProductResultMap">
    select order_id,product_id,product_quantity
    from order_detail
    where order_id=#{orderId}
   </select>
    <select id="getByOrderId" resultMap="ModelResultMap">
       select *from order_detail
       where order_id=#{orderId}
</select>
</mapper>