<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.ProductGroupMapper">
    <resultMap id="ModelResultMap" type="cn.cumtmaker.maker.model.ProductGroup">
        <id column="group_id" property="groupId" jdbcType="INTEGER"></id>
        <result column="representative_product_id" property="representativeProductId" jdbcType="INTEGER"></result>
        <result column="product_name" property="productName" jdbcType="VARCHAR"></result>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="selectProductGroupsByStoreId" parameterType="INTEGER" resultMap="ModelResultMap">
        select g.*
        from product_group g
        inner join store_product sp
        on g.group_id=sp.group_id
        where store_id=#{storeId}
    </select>
    <insert id="addProduct">
        insert into store_product
        (store_id,group_id)
        values (#{storeId},#{productId})
    </insert>
    <select id="getAllProductIdByGroupId" parameterType="INTEGER" resultType="INTEGER">
        select product_id
        from product
        where group_id=#{groupId}
    </select>
    <select id="getAll" resultMap="ModelResultMap">
        select *
        from product_group
    </select>
    <select id="getGroupsByCategoryId" parameterType="INTEGER" resultMap="ModelResultMap">
        select *
        from product_group
        where category_id=#{categoryId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="groupId" parameterType="cn.cumtmaker.maker.form.ProductGroupFormObject">
        insert into product_group
        (product_name,category_id)
        values (#{productName},#{categoryId})
    </insert>
    <update id="updateRepresentativeProductId">
        update product_group
        set representative_product_id = #{representativeProductId}
        where group_id = #{groupId}
    </update>
    <select id="selectProductGroupsNumByStoreId" parameterType="INTEGER" resultType="INTEGER">
        select count(*)
        from store_product
        where store_id=#{storeId}
    </select>
    <select id="getGroupIdByProductName" resultType="INTEGER">
        select group_id
        from product_group
        where product_name like concat('%',#{productName},'%')
    </select>
    <delete id="deleteByGroupId">
        delete from product_group
        where group_id = #{groupId}
    </delete>
    <select id="getGroupIdsByCategoryId" resultType="INTEGER">
        select group_id
        from product_group
        where category_id=#{categoryId}
    </select>
    <select id="getProductNameByGroupId" resultType="STRING">
        select product_name
        from product_group
        where group_id=#{groupId}
    </select>
    <update id="updateProductNameByGroupId">
        update product_group
        set product_name = #{productName}
        where group_id = #{groupId}
    </update>
</mapper>