<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.ProductMapper">
    <resultMap id="ModelResultMap" type="cn.cumtmaker.maker.model.Product">
        <id column="product_id" property="productId" jdbcType="INTEGER"></id>
        <result column="product_name" property="productName" jdbcType="VARCHAR"></result>
        <result column="product_stock" property="productStock" jdbcType="INTEGER"></result>
        <result column="group_id" property="groupId" jdbcType="INTEGER"></result>
        <result column="product_price" property="productPrice" jdbcType="DECIMAL"></result>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="product_description" property="productDescription" jdbcType="VARCHAR"></result>
        <result column="product_status" property="productStatus" jdbcType="INTEGER"></result>
        <result column="sales" property="sales" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="selectByProductId" parameterType="INTEGER" resultMap="ModelResultMap">
        select * from product
        where product_id =#{productId}
    </select>
    <select id="getValueIdsByProductId" parameterType="INTEGER" resultType="INTEGER">
        select value_id from product_value
        where product_id =#{productId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="productId" parameterType="cn.cumtmaker.maker.form.ProductFormObject">
        insert into product
        (product_name,group_id,product_stock,product_price,img_url,product_description)
        values (#{productName},#{groupId},#{stock},#{price},#{imageUrl},#{description})
    </insert>
    <delete id="deleteByProductId">
        delete from product
        where product_id=#{productId}
    </delete>
    <update id="updateByProductId">
        update product
        set product_price=#{price},product_stock=#{stock},product_name=#{productName}
        where product_id=#{productId}
    </update>
    <update id="updateStock">
        update product
        <set>
            product_stock=#{productStock}
        </set>
        where
        product_id=#{productId}
    </update>
</mapper>