<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.ProductGroupMapper">
    <resultMap id="ModelResultMap" type="cn.cumtmaker.maker.model.ProductGroup">
        <id column="group_id" property="groupId" jdbcType="INTEGER"></id>
        <result column="representative_product_id" property="representativeProductId" jdbcType="INTEGER"></result>
        <result column="product_name" property="productName" jdbcType="VARCHAR"></result>
        <result column="category" property="category" jdbcType="VARCHAR"></result>
    </resultMap>
    <select id="selectProductGroupsByStoreId" parameterType="INTEGER" resultMap="ModelResultMap">
        select g.*
        from product_group g
        inner join store_product sp
        on g.group_id=sp.group_id
        where store_id=#{storeId}
    </select>
</mapper>