<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.StoreMapper">
    <resultMap id="ModelResultMap" type="cn.cumtmaker.maker.model.Store">
        <id column="store_id" property="storeId" jdbcType="INTEGER"></id>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"></result>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="store_introduce" property="storeIntroduce" jdbcType="VARCHAR"></result>
        <result column="browse_times" property="browseTimes" jdbcType="INTEGER"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <select id="selectById" resultMap="ModelResultMap">
        select *
        from store
        where store_id=#{storeId}
    </select>
    <select id="getHotStores" resultMap="ModelResultMap">
        select *
        from store
        order by browse_times DESC
        limit 0,3
    </select>
</mapper>