<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cumtmaker.maker.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.cumtmaker.maker.model.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />

  </resultMap>
  <insert id="signUp">
    insert into user(role,username,password)
     values(#{role},#{username},#{password})
  </insert>
  <select id="getUserByUserName" resultMap="BaseResultMap">
    select *
    from user
    where username=#{username}
  </select>
  <update id="resetPassword">
    update user
    <set>
    password=#{password}
    </set>
    where
    username=#{username}
  </update>
  <delete id="deleteUser">
    delete
    from user
    where
    username=#{username}
  </delete>
</mapper>